<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://bci-ai-ppe-openai.openai.azure.com/"/>
    <add key="deployment" value="bci-gpt4o" />
	  <!--<add key="endpoint" value="https://gbb-open-ai.openai.azure.com/"/>-->
	  <!--<add key="deployment" value="gpt-4o" />-->
  </appSettings>
</configuration>