<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="endpoint" value="https://bci-ai-ppe-openai.openai.azure.com/"/>
    <add key="deployment" value="bci-gpt4o" />-->
	  <add key="endpoint" value="https://arc-ai-services-dev.openai.azure.com/"/>
	  <add key="deployment" value="gpt-4o" />
    <add key="dbConStr" value="Server=tcp:giobsql.database.windows.net,1433;Initial Catalog=BlueCorner;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication='Active Directory Default';" />
  </appSettings>
</configuration>